body {
    background-image: url("/img/fondoPacman.jpg");
  }
  header {
    width: 100%;
    height: 150px;
  }
  #main {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #header {
    width: 65%;
    height: 150px;
    float: left;
  }
  #logo {
    width: 30%;
    float: left;
    width: 100%;
  }
  #contador {
    width: 30%;
    float: left;
  }
  #texto {
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contenedorPacman {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  #logoPacman {
    width: 100px;
    height: 100px;
  }
  
  #logoheader {
    height: 150px;
  }
  
  #logoTexto {
    height: 150px;
  }
  #fantasmito {
    width: 100px;
    height: 100px;
  }
  
  #cherry {
    width: 100px;
    height: 100px;
  }
  #contador {
    
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
  }
  #gameover {
    font-size: 100px;
    color: #febd11;
  }
 